:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-synthesis: none;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0;
}

.sla-nsb {
    -ms-overflow-style: none;
    scrollbar-width: none;

    /* biome-ignore lint/correctness/noUnknownPseudoElement: webkit scrollbar */
    &::-webkit-scrollbar {
        display: none;
    }
}
